@model List<POC_MVC.Models.Person>
@{
    ViewBag.Title = "POC_MVC";
}

<div >
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Lista osób w bazie
                </div>   <!--en dof panel-heading -->
                <div class="panel-body table-responsive">
                    <table class="table table-bordered" id="Table">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                            </tr>   <!--end of table-row -->
                        </thead>
                        <tbody id="tableBody">
                            @foreach (var item in Model)
                            {
                                <tr onclick="location.href = '@(Url.Action("ShowPerson","Home", new { @personId = item._id }, null))'">
                                    <td style="display:none;">
                                        @Html.DisplayFor(modelItem => item._id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>   <!--end of table -->
                </div> <!--end of Panel-body -->
            </div> <!--end of Panel -->
        </div>
        <div class="col-lg-6 col-sm-8 text-left">
            <form id="mainForm">
                <input type="hidden" name="_id" value="" id="_id" />
                <div class="form-group">
                    <label for="firstNameTB">Imię:</label>
                    <input type="text" name="FirstName" class="form-control" id="firstNameTB">
                </div>
                <div class="form-group">
                    <label for="lastNameTB">Nazwisko:</label>
                    <input type="text" name="LastName" class="form-control" id="lastNameTB">
                </div>
                <div class="form-group">
                    <label for="phoneTB">Telefon:</label>
                    <input type="text" name="PhoneNumber" class="form-control" id="phoneTB">
                </div>
                <div class="form-group">
                    <label for="adressTB">Adres:</label>
                    <input type="text" name="Adress" class="form-control" id="adressTB">
                </div>
                <div data-inline="true">
                    <button type="button" style="display:none;" onclick="addButtonClick('Zaktualizowano pomyślnie!')" class="btn btn-default" id="updateButton">Aktualizuj</button>
                    <button type="button" onclick="addButtonClick('Dodano pomyślnie!')" class="btn btn-default" id="addButton">Dodaj</button>
                    <button type="button" style="display:none;" onclick="deleteButtonClick()" class="btn btn-default" id="deleteButton">Usuń</button>
                    <button type="button" onclick="clearButtonClick()" class="btn btn-default" id="clearButton">Wyczyść</button>
                </div>
            </form>
        </div>
        <div class="col-lg-2 text-left hidden-lg">
        </div>
    </div>
</div>